<%
#-------------------------------------------------------------------------------
# PROACTIONARY.COM
#-------------------------------------------------------------------------------
# index.erb
# ------------------------------------------------------------------------------
# Author: 	Elliott Richerson
# Created:  July 20, 2014
# Modified: July 20, 2014
# ------------------------------------------------------------------------------
%>

<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= yield_content :css %>
  <%= yield_content :javascript %>
</head>
<body>
  <%= yield_content :header %>
  <div id="container">
    <div id="content-border-1">
      <div id="content-border-2">
        <div id="content-border-3">
          <div id="content-border-4">
            <div id="content-border-5">
              <div id="content-wrapper">
                <div id="content">
                  <%= yield %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= yield_content :sidebar %>
  </div>

  <%= yield_content :modal %>

</body>
</html>